:root {
  /* Fonts */
  --main-font: Montserrat, sans-serif;
  /* Colors */
  --main-cl: #111111;
  --primary-cl: rgba(17, 17, 17, 0.7);
  --primary-cl: rgba(17, 17, 17, 0.4);
  --primary-cl: rgba(17, 17, 17, 0.1);
  --accent-cl: #fd9222;
  --light-cl: #fffff;
  --light-cl: rgba(255, 255, 255, 0.1);
  --secondary-cl: rgba(255, 255, 255, 0.7);
  --dark-cl: #1e1823;

  --main-bg-cl: #fafafa;
  --light-bg-cl: rgba(17, 17, 17, 0.6);
  --dark-bg-cl: #1e1823;
  --beige-bg-cl: #fcf1e0;
  /* Radius */

  /* Other */
}

/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--main-font);
  color: var(--main-cl);
  background-color: var(--main-bg-cl);

  /* Default styles */
  /* font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.2; */
}
/* reset styles start */
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.btn {
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  color: currentColor;
  cursor: pointer;
}
/* reset styles end */
.btn-accent {
  color: var(--light-cl);
  background-color: var(--accent-cl);
}
.btn-primary {
  color: var(--light-cl);
  background-color: transparent;
}
.btn-secondary {
  font-size: 18px;
  background-color: transparent;
}
.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
}
.section-title-accent {
  color: var(--accent-cl);
}
/**
  |============================
  | Header styles
  |============================
*/
.header {
}
.header-nav {
}
.header-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.header-logo-accent {
  font-style: italic;
}
.header-logo-img {
}
.header-nav-list {
}
.header-nav-item {
}
.header-nav-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-cl);
}
.header-socials {
}
.header-socials-item {
}
.header-socials-link {
}

/**
  |============================
  | Hero styles
  |============================
*/
.hero {
  background-color: rgba(17, 17, 17, 0.7);
}
.hero-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
}
.hero-btn {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
  background-color: transparent;
}
/**
  |============================
  | Benefits styles
  |============================
*/
.benefits {
  background-color: #1e1823;
}
.benefits-title {
}
.benefits-list {
}
.benefits-item {
}
.benefits-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.benefits-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/**
  |============================
  | Ingridients styles
  |============================
*/
.ingridients {
  background-color: var(--light-bg);
}
.ingridients-list {
}
.ingridients-list-item {
}
.ingridients-list-img {
}
.ingridients-list-caption {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/**
  |============================
  | Made styles
  |============================
*/
.made {
}
.made-title {
}
.made-pic {
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
}
.made-list-item {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/**
  |============================
  | Products styles
  |============================
*/
.products {
  background-color: var(--light-bg);
}
.products-title {
}
.products-list {
}
.products-list-item {
  background: var(--light-cl);
}
.products-list-ill {
}
.products-list-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-list-category {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--additional-cl);
}
.products-list-price {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  background-color: var(--body-bg-cl);
}

/**
  |============================
  | Bestsellers styles
  |============================
*/
.bestsellers {
}
.bestsellers-title {
}
.bestsellers-list {
}
.bestsellers-list-item {
  background-color: var(--light-cl);
}
.bestsellers-list-img {
}
.bestsellers-list-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/**
  |============================
  | Reviews styles
  |============================
*/
.reviews {
}
.reviews-title {
}
.reviews-list {
}
.reviews-list-item {
  background-color: var(--light-cl);
}
.reviews-list-avatar {
}
.reviews-list-author {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-list-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--additional-cl);
}

/**
  |============================
  | Footer styles
  |============================
*/
.footer {
  background-color: var(--dark-bg-cl);
}
.footer-slogan {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--light-cl);
}
.footer-slogan-accent {
  color: var(--accent-cl);
}
.footer-address {
  font-style: normal;
}
.footer-address-subject {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: var(--light-cl);
}
.footer-socials {
}
.footer-contatcs {
}
.footer-menu {
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--light-cl);
}

/* Socials */
.socials {
}
.socials-item {
}
.socials-link {
}
.socials-icon {
}

/* Contacts */
.contacts {
}
.contacts-item {
}
.contacts-link {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--light-cl);
}
