:root {
  /* Fonts */
  --main-font: Montserrat, sans-serif;
  /* Colors */
  --main-cl: #111111;
  --main-cl-10: rgba(17, 17, 17, 0.1);
  --main-cl-40: rgba(17, 17, 17, 0.4);
  --main-cl-60: rgba(17, 17, 17, 0.6);
  --main-cl-70: rgba(17, 17, 17, 0.7);
  --accent-cl: #fd9222;
  --light-cl: #ffffff;
  --light-cl-10: rgba(255, 255, 255, 0.1);
  --light-cl-70: rgba(255, 255, 255, 0.7);
  --dark-cl: #1e1823;

  --main-bg-cl: #fafafa;
  --beige-cl: #fcf1e0;
  /* Radius */

  /* Other */
}

/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--main-font);
  color: var(--main-cl);
  background-color: var(--main-bg-cl);
}
/* reset styles start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.btn {
  min-width: 144px;
  min-height: 45px;
  padding: 14px 40px;

  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  color: currentColor;

  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
}
/* reset styles end */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.btn-accent {
  color: var(--light-cl);
  background-color: var(--accent-cl);
}
.btn-primary {
  color: var(--light-cl);
  background-color: transparent;
  border-color: var(--light-cl);
}
.btn-secondary {
  font-size: 18px;
  background-color: transparent;
}
.btn-dark {
  color: var(--main-cl);
  background-color: transparent;
  border-color: var(--accent-cl);
}
.section {
  padding: 60px 0;
}
.section-title {
  width: 412px;
  margin: 0 auto;
  margin-bottom: 50px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
}
.section-title-accent {
  color: var(--accent-cl);
}
.container {
  width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
  outline: 2px solid red;
  outline-offset: -2px;
}
/**
  |============================
  | Header styles
  |============================
*/
.header {
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-logo {
  margin-right: 365px;

  display: inline-flex;
  align-items: center;
  gap: 4px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.header-logo-accent {
  font-style: italic;
}
.header-logo-img {
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-nav-item {
}
.header-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-cl);
}
.header-socials {
  display: flex;
  gap: 14px;
}
.header-socials-item {
}
.header-socials-link {
  display: block;
  width: 40px;
  height: 40px;
  padding: 8px;

  border-radius: 10px;
  border: 1px solid var(--main-cl-10);
}

/**
  |============================
  | Hero styles
  |============================
*/
.hero {
  background-color: var(--main-cl-70);
}
.hero-title {
  width: 484px;
  margin-bottom: 32px;

  color: var(--light-cl);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
}
.hero-btn {
  color: var(--light-cl);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
  background-color: transparent;
}
.hero-btn-icon {
  display: inline-block;
  width: 38px;
  height: 38px;
  padding: 8px;

  background-color: var(--light-cl);
  border-radius: 50%;
}
/**
  |============================
  | Benefits styles
  |============================
*/
.benefits {
  padding: 50px 0;
  background-color: var(--dark-cl);
}
.benefits-title {
}
.benefits-list {
  display: flex;
  justify-content: center;
  gap: 88px;
}
.benefits-item {
  width: 308px;
}
.benefits-subtitle {
  margin-bottom: 18px;

  color: var(--light-cl);
  font-size: 18px;
  font-weight: 600;
}
.benefits-text {
  color: var(--light-cl-70);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/**
  |============================
  | Ingridients styles
  |============================
*/
.ingridients {
  padding-top: 120px;
  background-color: var(--light-bg);
}
.ingridients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.ingridients-list-item {
  flex-basis: calc((100% - 32px * 3) / 4);

  padding: 28px 23px;
  border: 1px solid transparent;
  background-color: #fff;
  border-radius: 15px;
}
.ingridients-list-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #ffffff;
}
.ingridients-list-item:nth-child(4n + 3) {
  background-color: #1e1823;
  color: #ffffff;
}
.ingridients-list-item:nth-child(2n) {
  border-color: #fd9222;
}
.ingridients-list-img {
}
.ingridients-list-caption {
  margin-top: 36px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/**
  |============================
  | Made styles
  |============================
*/
.made {
}
.made-title {
}
.made-pic {
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
}
.made-list-item {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/**
  |============================
  | Products styles
  |============================
*/
.products {
  background-color: var(--light-bg);
}
.products-title {
}
.products-list {
}
.products-list-item {
  background: var(--light-cl);
}
.products-list-ill {
}
.products-list-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-list-category {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--main-cl-70);
}
.products-list-price {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  background-color: var(--main-cl-10);
}

/**
  |============================
  | Bestsellers styles
  |============================
*/
.bestsellers {
}
.bestsellers-title {
}
.bestsellers-list {
}
.bestsellers-list-item {
  background-color: var(--light-cl);
}
.bestsellers-list-img {
}
.bestsellers-list-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/**
  |============================
  | Reviews styles
  |============================
*/
.reviews {
  padding-bottom: 120px;
}
.reviews-title {
}
.reviews-list {
}
.reviews-list-item {
  background-color: var(--light-cl);
}
.reviews-list-avatar {
}
.reviews-list-author {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-list-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--light-cl-70);
}

/**
  |============================
  | Footer styles
  |============================
*/
.footer {
  background-color: var(--dark-cl);
}
.footer-slogan {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--light-cl);
}
.footer-slogan-accent {
  color: var(--accent-cl);
}
.footer-address {
  font-style: normal;
}
.footer-address-subject {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: var(--light-cl);
}
.footer-socials {
}
.footer-contatcs {
}
.footer-menu {
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--light-cl);
}

/* Socials */
.socials {
}
.socials-item {
}
.socials-link {
}
.socials-icon {
}

/* Contacts */
.contacts {
}
.contacts-item {
}
.contacts-link {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--light-cl);
}
