body {
  padding-top: 80px;
  padding-bottom: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* reset */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}
/* reset end */

/**
  |============================
  | Flexbox layout
  |============================
*/
[data-parent] {
  width: 800px;
  /* min-height: 600px; */
  padding: 20px;
  margin: 0 auto;

  border-radius: 10px;
}

[data-parent='one'] {
  background-color: darkslateblue;
}

[data-parent='two'] {
  background-color: blueviolet;
}
[data-parent='three'] {
  background-color: lightseagreen;
}

[data-child] {
  width: 120px;
  height: 120px;

  font-size: 3em;
  line-height: 120px;
  color: white;
  text-align: center;

  border-radius: 10px;
  background-color: lightgreen;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
